.card-size {
    height: 480px;
}
.card_button{    
    color: #000;
    padding: 10px 20px;
    border: 1px solid #F14D5D;
    
}
.card_button:hover{
    background: #F14D5D;
    color: #fff;
}
.course{
    text-transform: uppercase;
    color: #F14D5D;
    font-weight: 700;
}
.line{
    width: 50px;
    height: 5px;
   background: #F14D5D;
   margin: 0 auto;
}